html {
    box-sizing: border-box;
    overflow-x: hidden;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
body {
    border: solid 2px black;
    width: 1000px;
    height: 1000px;
}
button {
    position: relative;
  display: inline-block;
  border: 2px solid blue;
  text-align: center;
  color: black;
  background-color: rgba(255, 107, 9, 0);
  font-weight: 700;
  font-size: 12px;
  line-height: 1, 25;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  width: 260px;
  height: 48px;
  cursor: pointer;
}